SeqChecks-checkpoint.ipynb
SeqChecks-checkpoint.ipynb
test-checkpoint.ipynb

data/*.logfile
analyses/.Rhistory
simulations/.Rhistory
SeqChecks.ipynb
test.ipynb
.DS_Store
figures/movie/*.png
figures/movie/T0.0032.png
figures/movie/T0.0034.png
figures/movie/T0.0036.png
figures/movie/T0.0039.png
figures/movie/T0.0042.png
figures/movie/T0.0045.png
figures/movie/T0.0048.png
figures/movie/T0.0052.png
figures/movie/T0.0056.png
figures/movie/T0.006.png
figures/movie/T0.0064.png
figures/movie/T0.0069.png
figures/movie/T0.0074.png
figures/movie/T0.0079.png
figures/movie/T0.0085.png
figures/movie/T0.0091.png
figures/movie/T0.0098.png
figures/movie/T0.0105.png
figures/movie/T0.0112.png
figures/movie/T0.0121.png
figures/movie/T0.0129.png
figures/movie/T0.0139.png
figures/movie/T0.0149.png
figures/movie/T0.016.png
figures/movie/T0.0172.png
figures/movie/T0.0184.png
figures/movie/T0.0198.png
figures/movie/T0.0212.png
figures/movie/T0.0228.png
figures/movie/T0.0244.png
figures/movie/T0.0262.png
figures/movie/T0.0281.png
figures/movie/T0.0302.png
figures/movie/T0.0324.png
figures/movie/T0.0347.png
figures/movie/T0.0373.png
figures/movie/T0.04.png
figures/movie/T0.0429.png
figures/movie/T0.0461.png
figures/movie/T0.0494.png
figures/movie/T0.053.png
figures/movie/T0.0569.png
figures/movie/T0.0611.png
figures/movie/T0.0655.png
figures/movie/T0.0703.png
figures/movie/T0.0754.png
figures/movie/T0.0809.png
figures/movie/T0.0869.png
figures/movie/T0.0932.png
figures/movie/T0.1.png
bin/.Rhistory
